.rr-throbber {
    margin: auto;
}

.rr-throbber-image {
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@-moz-keyframes spin {
    from { -moz-transform: rotateY(0deg); }
    to { -moz-transform: rotateY(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotateY(0deg); }
    to { -webkit-transform: rotateY(360deg); }
}
@keyframes spin {
    from {transform:rotateY(0deg);}
    to {transform:rotateY(360deg);}
}
