@import '../../styles/constants.scss';

.project {
  margin-top: 24px;
}

.title {
  margin: 0;
}

.header {
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 16px;
  width: 100%;
}

.links {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.description {
  padding-left: 16px;
  white-space: pre-wrap;
}
