.rr-intro-component {
    background: #545454;
    overflow: hidden;
    display: inline-flex;
    min-width: 960px;
    width: 100vw;
}

.rr-intro-component-1 {
    transition: All 1s ease;
    order: 0;
    background: #545454;
    width: 100vw;
    min-width: 100vw;
}

.rr-intro-component-2 {
    transition: All 1s ease;
    order: 1;
    background: lightgray;
    width: 100vw;
    min-width: 100vw;
}

.rr-intro-content {
    position: relative;
    margin-left: calc(50vw - 480px);
    display: inline-flex;
    max-width: 960px;
    min-width: 960px;
    height: calc((50vw + 50vh)/2);
}

.rr-intro-arrow-right .fa-arrow-circle-right{
    color: white;
    cursor: pointer;
}

.rr-intro-arrow {
    order: 1;
    position: relative;
    margin-top: calc((50vw + 50vh)/4);
    margin-left: 4vw;
    font-size: calc((4vw + 4vh)/2);
}

.rr-intro-arrow-left .fa-arrow-circle-left {
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .rr-intro-content {
        margin: 0px;
    }

    .rr-intro-arrow {
        margin: auto;
    }

    .rr-intro-component-1 {
        min-width: 960px;
    }

    .rr-intro-component-2 {
        min-width: 960px;
    }
}