.rr-intro-component {
    background: #545454;
    overflow: hidden;
    display: inline-flex;
    width: 100vw;
    font-size: 3vh;
}

.rr-intro-component-common {
    display: inline-flex;
    background: #545454;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    align-content: center;
    width: 100vw;
}

.rr-intro-component-1 {
    transition: All 1s ease;
    order: 0;
    background: #545454;
    width: 100vw;
    min-width: 100vw;
}

.rr-intro-component-2 {
    transition: All 1s ease;
    order: 1;
    background: lightgray;
    width: 100vw;
    min-width: 100vw;
}

.rr-intro-content-item {
    flex-basis: 0;
    flex-grow: 1;
    order: 0;
    margin: auto;
}

.rr-intro-arrow {
    padding-left: 5vw;
}

.rr-intro-arrow-right .fa-arrow-circle-right{
    color: white;
    cursor: pointer;
}

.rr-intro-arrow-left .fa-arrow-circle-left {
    cursor: pointer;
}
