.rr-the-system-info {
    font-family: "Raleway", sans-serif;
    margin: auto;
}

.rr-the-system-info-title {
    display: inline-block;
    font-family: "Kaushan Script", sans-serif;
    font-size: 3em;
    font-weight: 700;
}

.rr-the-system-saturn {
    top: 8px;
    display: inline-block;
    position: relative;
}

.rr-saturn-svg {
    transform: rotate(20deg);
}

.rr-the-system-info-text {
    font-size: 1.2em;
}
