<div class="section-header">$ whoami</div>
<div class="indent">
  Hi! I'm <span class="highlight">Ryan Rushton</span>, a
  <span class="info">Staff Software Engineer at Canva</span>. I specialize in
  <span class="highlight">frontend engineering</span> but work fullstack on
  <span class="info">generative AI systems</span>, building tools that empower millions of designers
  worldwide. I'm passionate about creating elegant, performant user experiences and contributing to
  open source projects.
</div>
