<pre class="ascii-art">
 ____                    ____            _     _
|  _ \ _   _  __ _ _ __ |  _ \ _   _ ___| |__ | |_ ___  _ __
| |_) | | | |/ _` | '_ \| |_) | | | / __| '_ \| __/ _ \| '_ \
|  _ <| |_| | (_| | | | |  _ <| |_| \__ \ | | | || (_) | | | |
|_| \_\\__, |\__,_|_| |_|_| \_\\__,_|___/_| |_|\__\___/|_| |_|
       |___/
</pre>
<div style="margin-bottom: 16px">
  Welcome to my terminal portfolio! 👋 Type <span class="command">help</span> to see available
  commands. Type <span class="command">about</span> to learn more about me.
</div>
