<div class="section-header">$ cat ~/contact.txt</div>
<div class="indent">
  <div>
    <span class="info">GitHub:</span>
    <a href="https://github.com/ryan-rushton" target="_blank" class="link"
      >github.com/ryan-rushton</a
    >
  </div>

  <div>
    <span class="info">Email:</span>
    <a href="mailto:ryan.rushton79@gmail.com" class="link">ryan.rushton79@gmail.com</a>
  </div>

  <div>
    <span class="info">LinkedIn:</span>
    <a href="https://linkedin.com/in/ryan-rushton" target="_blank" class="link"
      >linkedin.com/in/ryan-rushton</a
    >
  </div>
</div>
