<div class="section-header">$ ls -la ~/skills</div>
<div class="indent">
  <div><span class="info">Languages:</span> TypeScript, JavaScript, Java, Python</div>

  <div><span class="info">Frontend:</span> React, Mobx, Redux, Vite, HTML/CSS, Web Performance</div>

  <div><span class="info">Backend:</span>REST APIs, Microservices, Spring, Node.js</div>

  <div>
    <span class="info">AI:</span> Generative AI Systems, LLM Integration, Prompt Engineering
  </div>

  <div>
    <span class="info">Tools & Cloud:</span> Git, Docker, AWS, CI/CD, Monitoring & Observability
  </div>
</div>
