.rr-homepage {
    background: url('../static/background.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #222;
    min-height: 100vh;
    width: 100vw;
}

.rr-homepage-intro-block {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 5vw;
    position: relative;
    top: 25vh;
}

.rr-homepage-intro-text {
    margin: auto;
    position: relative;
    text-align: center;
}

.rr-homepage-intro-hi {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}

.rr-homepage-arrow-circle-down .fa-arrow-circle-down {
    cursor: pointer;
}