@import "../../../styles/SiteStyles.scss";

.icon {
    display: inline-block;
    font-size: 1.2em;
    margin: 10px;
    position: relative;
}

.popup {
    background-color: $black;
    border-radius: 3px;
    border: 1px solid white;
    display: inline-block;
    font-size: 0.8em;
    margin: 10px;
    max-width: 20vw;
    padding: 5px;
    position: absolute;
}

@media screen and (min-device-width: 769px) {
    .icon {
        font-size: 2em;
    }
}
