@import "../styles/SiteStyles.scss";
.rr-content-switcher-component {
    background-color: $black;
    color: white;
    display: inline-flex;
    overflow: hidden;
    width: 100vw;
}

.rr-content-switcher-component-common {
    align-content: center;
    align-items: center;
    display: inline-flex;
    overflow-x: hidden;
    margin: 3vh auto 3vh auto;
    min-width: 100vw;
    transition: All 1s ease;
    width: 100vw;
}

.rr-content-switcher-content-item {
    flex-basis: 0;
    flex-grow: 1;
    order: 0;
    margin: auto;
}

.rr-content-switcher-content-item-double-grow {
    flex-grow: 3;
}

.rr-content-switcher-arrow {
    color: white;
    cursor: pointer;
    padding-left: 5vw;
}

/* Portrait and Landscape */
@media screen and (min-device-width: 769px) {
    .rr-content-switcher-content-item-double-grow {
        flex-grow: 2;
    }
}
