.rr-the-system-info {
    font-family: "Raleway", sans-serif;
    margin: auto;
}

.rr-the-system-info-title {
    display: inline-block;
    font-family: "Permanent Marker", sans-serif;
    font-size: 2.4em;
}

.rr-the-system-saturn {
    display: inline-block;
    margin-left: 15px;
    vertical-align: -10px;
}

.rr-saturn-svg {
    transform: rotate(20deg);
}

.rr-the-system-info-text {
    font-size: 1.2em;
}
