.rr-aboutme {
    margin: auto;
    background: lightgray;
}

.rr-infographic {
    max-height: 700px;
    text-align: center;
    margin: 20px;
}

.rr-infopraphic-title {
    font-family: "Open Sans";
    font-size: 5vh;
    text-align: center;
}

.rr-infographic-img {
    display: block;
    margin: calc((3vw + 3vh)/2) auto auto auto;
    height: calc((35vw + 35vh)/2);
    max-height: 500px;
}
