@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans:700|Open+Sans:700|Raleway|Raleway:700|Roboto:700|Roboto');
@import '../styles/constants.scss';

.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  height: 100vh;
  width: 100vw;
}
