@import "../styles/SiteStyles.scss";

.rr-navbar {
    background: $black;
    height: 48px;
    min-width: 100vw;
    position: fixed;
    z-index: 100;
}

.rr-navbar-content {
    display: inline-flex;
    height: 48px;
    min-width: 100vw;
}

.rr-navbar-flexitem {
    display: inline-flex;
    flex-basis: 0;
    flex-grow: 1;
    justify-content: center;
}

.rr-navbar-item {
    display: inline-flex;
    font-size: 1.5em;
}

.rr-navbar-right-links {
    display: block;
    max-width: 140px;
    width: calc(100vw / 12);
}

.rr-navbar-link {
    color: #fafafa;
    text-decoration: none;
    vertical-align: middle;
}

.rr-navbar-home-link {
    margin: auto;
    padding: 0;
}

.rr-navbar-logo {
    display: block;
    margin: auto;
}

.rr-navbar-link:hover {
    color: #70dff4;
}

.rr-navbar-right-link {
    flex-basis: 0;
    flex-grow: 1;
    margin: auto;
}

/* Portrait and Landscape */
@media screen and (min-device-width: 769px) {
    .rr-navbar {
        height: 56px;
    }

    .rr-navbar-content {
        height: 56px;
    }

    .rr-navbar-dropdown-header {
        height: 56px;
    }

    .rr-navbar-right-links {
        width: calc(100vw / 6);
    }
}
