.rr-navbar {
    background: #222;
    height: 56px;
    min-width: 100vw;
    position: fixed;
    z-index: 100;
}

.rr-navbar-content {
    background: #222;
    display: inline-flex;
    font-size: 16pt;
    height: 56px;
    min-width: 100vw;
}

.rr-navbar-flexitem {
    display: inline-flex;
    flex-basis: 0;
    flex-grow: 1;
    justify-content: center;
    max-height: 70px;
}

.rr-navbar-item {
    display: inline-flex;
}

.rr-navbar-right-links {
    display: inline-flex;
    font-size: 150%;
    min-width: calc(100vw/6);
}

.rr-navbar-link {
    color: #fafafa;
    text-decoration: none;
    vertical-align: middle;
}

.rr-navbar-home-link {
    padding: 0;
}

.rr-navbar-link:hover {
    color: #70dff4;
}

.rr-navbar-right-link {
    flex-basis: 0;
    flex-grow: 1;
    margin: auto;
}
