@import '../../styles/constants.scss';

.container {
  position: relative;
  height: 100%;
}

.intro {
  display: flex;
  flex-direction: column;
  position: relative;
  top: calc(50vh - 50px);
}

.content {
  margin: auto;
  display: flex;
}

.githubLink {
  margin: 0 6px;
}

.portrait {
  display: inline-block;
  height: 100px;
  margin-right: 3vh;
  vertical-align: middle;
}

.textBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.firstLine {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2em;
}

.secondLine {
  font-size: 1.5em;
}

@media screen and (min-device-width: 769px) {
  .intro {
    font-size: 1.2em;
  }
  .portraitAndHi {
    font-size: 1.2em;
  }
}
