.rr-blurbpage {
    background: #545454;
    min-width: 960px;
}

.rr-blurb-block {
    font-family: "Open Sans";
    color: white;
    height:calc((50vw + 50vh)/2);
    max-width: 960px;
    min-width: 960px;
    margin: auto;
    position: relative;
}

.rr-blurb-hi {
    font-family: 'Permanent Marker', cursive;
    padding-top: 5vh;
    font-size: calc((5vw + 5vh)/2);
    text-align: center;
    max-height: 20vh;
}
.rr-blurb-text {
    margin: calc((3vw + 3vh)/2);
    font-size: calc((2.5vw + 2.5vh)/2);
    text-align: justify;
    text-justify: auto;
    max-height: 30vh;
}

.rr-blurb-text a {
    color: #A189F0;
}

@media screen and (min-width: 1200px) {
  .rr-blurb-text {
     font-size: 36px;
  }
}

@media screen and (max-width: 360px) {
  .rr-blurb-text {
     font-size: 20px;
  }
}

@media screen and (max-height: 360px) {
  .rr-blurb-text {
     font-size: 20px;
  }
}