.rr-blurbpage {
    margin: auto;
    background: #545454;
}

.rr-blurb-block {
    font-family: "Open Sans";
    color: white;
    position: relative;
}

.rr-blurb-hi {
    font-family: 'Permanent Marker', cursive;
    font-size: 5vh;
    text-align: center;
}
.rr-blurb-text {
    text-align: justify;
    text-justify: auto;
}

.rr-blurb-text a {
    color: #A189F0;
}
